* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid red 1px; */
}

:root {
    --azul-purpura: #4A3DA5;
    --verde-lima: #B9D440;
    --lavanda-pastel: #E9B7FF;

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Fira Code', monospace;
}

/* Estructura general */

body {
    min-height: 100vh;
    font-family: var(--primary-font);
    background-color: var(--azul-purpura);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden; /* evita scroll horizontal */
}

header, main {
    max-width: 1200px;
}

header {
    margin: 50px 80px;
}

main {
    margin: 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

a {
    font-family: var(--secondary-font);
    color: var(--verde-lima);
    text-decoration: none;
}

/* Menú */

#menu {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 80px;
}

#items-menu {
    display: flex;
    gap: 30px;
}

/* Sección bienvenida */

#bienvenida {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    align-items: last baseline;
}

#saludo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#saludo p {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.5rem;
}

#saludo h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.5rem;
}

#imagenBienvenida img {
    border-radius: 5%;
    max-width: 100%;
}

/* General secciones */

.tituloSeccion h2::before {
    content: "/* "
}

.tituloSeccion {
    padding-bottom: 20px;
}

.descripcionSeccion h3 {
    max-width: 500px;
    line-height: 2.5rem;
    padding-bottom: 10px;
}

.descripcionSeccion p {
    font-size: 1.3rem;
    font-weight: 200;
    max-width: 900;
    padding-bottom: 10px;
}

/* Sección proyectos */

.divProyectos {
    color: black;
    margin: 2% 0;
    display: grid;
    grid-auto-flow: column;
    gap: 5%;
    justify-content: center;
}

.tarjeta {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 15px;
    gap: 10px;

}

#proyecto1 {background-color: var(--verde-lima);}
#proyecto2 {background-color: var(--lavanda-pastel);}
#proyecto3 {background-color: white;}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

.flecha {
    text-align: right;
    padding-right: 5px;
}
.flecha img {
    max-width: 40px;
}

#todosProyectos {
    text-align: right;
}

/* Sección sobre mí */

#contenidoSobreMi {
    display: flex;
    gap: 50px;
}

.imagenSeccion img {
    border-radius: 5%;
    max-width: 300px;
}

/* Sección contacto */

#contacto {
    background-color: var(--verde-lima);
    padding: 50px 70px;
    border-radius: 20px;
    color:black
}

.cajaFormulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cajaFormulario p {
    font-size: 1.3rem;
}
.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    width: 100%; 
}

label {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
}

.campo input,
.campo textarea {
    width: 100%; 
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 16px;
}

.campo textarea {
    min-height: 150px;
}

.botonEnviar {
    font-family: var(--primary-font);
    max-width: 100px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    color: white;

}

/* Footer */

.redesSociales {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 20px;
}

.redesSociales img {
    max-width: 30px;
}

footer {
    color: black;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

