/* -------- RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid red 1px; */
}

/* -------- VARIABLES -------- */
:root {
    --azul-purpura: #4a3da5;
    --verde-lima: #b9d440;
    --lavanda-pastel: #e9b7ff;

    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Fira Code", monospace;
}

/* -------- ESTRUCTURA GENERAL -------- */
body {
    min-height: 100vh;
    font-family: var(--primary-font);
    background-color: var(--azul-purpura);
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

header,
main {
    width: min(1200px, 100%);
    margin: 0 auto;
    padding: 1rem;
}

header {
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

a {
    font-family: var(--secondary-font);
    color: var(--verde-lima);
    text-decoration: none;
}

@media (max-width: 768px) {
    h2 {
    font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
/* -------- MENÚ -------- */
#menu {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo {
    max-width: 5rem;
}

#logo-mobile {
    display: none;
}

#items-menu {
    display: flex;
    gap: 1.5rem;
}

#menu-hamburguesa {
    display: none;
}

/* --- header adaptado --- */
@media (max-width: 768px) {
    header {
        margin-top: 0px;
    }

    header#menu.navbar {
        background-color: white;
        color: var(--azul-purpura);
    }

    .navbar {
        position: relative;
    }

    #logo-desktop {
        display: none;
    }
    #logo-mobile {
        display: block;
        max-width: 4rem;
    }

    #menu-hamburguesa {
        display: block;
        max-width: 3rem;
    }

    #items-menu {
        display: none;
    } 
}

/* -------- GENERAL SECCIONES -------- */

.tituloSeccion h2::before {
    content: "/* "
}

.tituloSeccion {
    padding-bottom: 20px;
}

.descripcionSeccion h3 {
    max-width: 500px;
    line-height: 35px;
    padding-bottom: 10px;
}

.descripcionSeccion p {
    font-size: 1.3rem;
    font-weight: 200;
    max-width: 90%;
    padding-bottom: 10px;
}


/* -------- SECCIÓN BIENVENIDA -------- */
#bienvenida {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: last baseline;
    justify-content: space-between;
}

#saludo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#saludo p {
    font-size: 2rem;
    font-weight: 200;
    line-height: 2.5rem;
}

#saludo h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4rem;
}

#imagenBienvenida {
    text-align: right;
}

#imagenBienvenida img {
    border-radius: 5%;
    max-width: 90%;
}

/* --- Responsive bienvenida --- */
@media (max-width: 1024px) {
    #bienvenida {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 0;
        margin-top: 20px;
    }

    #imagenBienvenida {
        text-align: center;
    }

    #imagenBienvenida img {
        width: 70%;
        margin: 0 auto;

    }

    #saludo {
        position: relative;
        top: -3rem;
        z-index: 2;
    }

    #saludo p {
        line-height: 2rem;
    }

    #saludo h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 480px) {
    #saludo p {
        font-size: 1.6rem;
    }

    #saludo h1 {
        font-size: 2rem;
    }
}

/* -------- SECCIÓN PROYECTOS -------- */
.divProyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Ajusta según el espacio disponible */
    gap: 2rem;
    justify-content: center;
    color: black;
    margin: 2% 0;
    box-sizing: border-box;
}

.tarjeta {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ocupa el ancho de su columna */
    max-width: 350px;
    /* Máximo para que no se estire demasiado */
    border-radius: 5%;
    gap: 2px;
    box-sizing: border-box;
}

#proyecto1 {
    background-color: var(--verde-lima);
}

#proyecto2 {
    background-color: var(--lavanda-pastel);
}

#proyecto3 {
    background-color: white;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

.flecha {
    text-align: right;
    padding-right: 5px;
}

.flecha img {
    max-width: 40px;
}

#todosProyectos {
    text-align: right;
    margin-top: 1rem;
}

/* --- Responsive proyectos --- */
@media (max-width: 1024px) {
    .divProyectos {
        grid-auto-flow: row;
        grid-template-columns: repeat(1, minmax(280px, 350px));
        gap: 30px;
    }

    .tarjeta {
        width: 100%;
    }

    #todosProyectos {
        text-align: left;
    }
}

/* -------- SECCIÓN SOBRE MÍ -------- */
#contenidoSobreMi {
    display: flex;
    gap: 50px;
}

.imagenSeccion img {
    border-radius: 5%;
    max-width: 300px;
}

/* --- Responsive sobre mí --- */
@media (max-width: 900px) {
    #contenidoSobreMi {
        flex-direction: column;
    }

    .imagenSeccion img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /* círculo perfecto */
        object-fit: cover;
        /* recorta la imagen para que encaje en el círculo */
    }
}

/* -------- CONTACTO -------- */
#contacto {
    background-color: var(--verde-lima);
    padding: 50px clamp(1rem, 6vw, 70px);
    border-radius: 20px;
    color: black;
}

.cajaFormulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

label {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 16px;
}

.campo textarea {
    min-height: 150px;
}

.botonEnviar {
    font-family: var(--primary-font);
    width: 20%;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* --- Responsive contacto --- */
@media (max-width: 600px) {
    #contacto {
        padding: 60px 40px;
    }

    .botonEnviar {
        width: 20%;
        max-width: none;
    }
}

/* -------- FOOTER -------- */
.redesSociales {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 20px;
}

.redesSociales img {
    max-width: 30px;
}

footer {
    color: black;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 0.9rem;
}